.Nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.TittleNosotros{
    font-size: 2rem;
    font-weight: 700;
    color: #3A404F ;
    margin-top: 70px;
}

.TextoNosotros{
    margin: 2rem 2rem;
    text-align: center;
    font-weight: 400;
    color: #3A404F
}

.InfoNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NosotrosIlustracion{
    margin: 3rem 2rem;
}

.ContainerDesarrollo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #191E25;
    color: white;
    gap: 1rem;
    width: 350px;
    border-radius: 20px;
    margin: 50px 0 100px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.384) ;
}

.Desarrollo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    cursor: pointer;
    transition: filter 0.3s ease;
}
  
.blur {
    filter: blur(3px);
}

.IconDesarrollo{
    width: 60px;
    height: 60px;
}

.TittleDesarrollo{
    font-weight: 300;
}