.Contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;

}

.TittleForm{
    font-size: 2rem;
    font-weight: 700;
    color: #3A404F;
    margin-top: 70px;
}

.SubTittleForm{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A404F;
}

.FormGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 70px;
}

.ContactoForm{
    width: 300px;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid grey;
    transition: 1s;
}

.ContactoForm:hover{
  transform: scale(1.05);
  border: 1px solid #275E8A ;
}

.ButtonForm{
    padding: 1.3rem 2rem;
    margin: 2rem;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    z-index: 9;
}

.ButtonForm:hover{
    background-color: #3A404F;
    box-shadow: 0px 15px 20px #3a404f86;
    color: #fff;
    transform: translateY(-7px);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .TittleForm{
    font-size: 2.5rem;
    margin: 50px 0px;
  }

  .FormGroup{
    gap: 5rem;
    margin: 2rem;
    width: 900px;
  }

  input{
    min-width: 400px;
    min-height: 40px;
  }
}